*{
    margin: 0px;
  }
  
  .App{
      background-color: rgb(233, 233, 233);
  }
  .App_container{
      background-color: white;
      padding: 20px;
      height: 30px;
      border-bottom: 2px solid lightgray;
      object-fit: contain;
  }
  
  .App_headerImage{
      height: 30px;
  }