*{
  margin: 0px;
}

.App{
    background-color: rgb(233, 233, 233);
    height: 100vh;
}
.App_headerImage{
    background-color: white;
    padding: 20px;
    height: 30px;
    width: 100%;
    justify-content: left;
    border-bottom: 2px solid lightgray;
    object-fit: contain;
}